#productSearch{
  .W-nav{
    padding-bottom: 0.444rem;
  }
  .upBtn{
    width: 0.488rem;
    display: block;
    float: left;
    margin-top: 0.622rem;
    margin-left: 0.288rem;
  }
  .searchInput{
    width: 12.088rem;
  }
}