

/* 分类 Classify */
.Classify {
  background: #fff;
  /* classifyLeft */
  .classifyLeft{
    padding-bottom: 3.5rem;
    ul{}
    li{
      height: 1.7555rem;
      line-height: 1.7555rem;
      text-align: center;
      width: 3.577rem;
    }
    .active{
      background: #e04040;
      color: #fff;
    }
  }

  /* classifyRight */
  .classifyRight{
    width:77%;
    ul{

      li{
        width: 33%;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }
      .listCont{
        -webkit-box-flex: 1;
        text-align: center;
        height: 4.133rem;
        .pimhg{
          display: inline-block;
        }
        img{
          margin-top: .7rem;
          width: 1.777rem;
        }
      }

    }
  }
}
/* end 分类 Classify */

/* 商品的主题 theme */
.PTheme{
  .themeNav{
    ul{
      display: -webkit-box;
      display: -moz-box;
      display:box;
      li{
        background: #fff;
        margin-right: 1px;
        -webkit-box-flex: 1;
        text-align: center;
        height: 3.333rem;
        color: #333;
        .ewanjiaIcon{
          font-size: 1rem;
        }
        p{
          line-height: .5rem;
        }
      }
      .active{
        background:#e04040 !important;
        color: #fff!important;
        .ewanjiaIcon{
          color: #fff!important;
        }
      }
    }
  }

  /* theme cont */
  .themeCont{
    margin-top: 1.333rem;
    height: 13.333rem;
    padding-bottom: .3rem;
    .contwrapO{
      width: 100%;
      position: relative;
      height: 13.333rem;
      background: #fff;
      -moz-box-shadow: -2px -2px 2px 0px #e7e7e7;
      -webkit-box-shadow: -2px -2px 2px 0px #e7e7e7;
      box-shadow: -2px -1px 4px 0px #e0e0e0;
    }
    .contwrapT{
      position: absolute;
      margin-left: 0.113rem;
      margin-top: 0.133rem;
      height: 13.333rem;
      width: 99%;
      background: #fff;
      -moz-box-shadow: -2px -2px 2px 0px #e7e7e7;
      -webkit-box-shadow: -2px -2px 2px 0px #e7e7e7;
      box-shadow: -2px -1px 4px 0px #e0e0e0;
    }
    .contwrapH{
      position: absolute;
      margin-left: 0.133rem;
      margin-top: 0.133rem;
      background: #fff;
      width: 98.7%;
      text-align: center;
      height: 13.333rem;
      -moz-box-shadow: -2px -2px 2px 0px #e7e7e7;
      -webkit-box-shadow: -2px -2px 2px 0px #e7e7e7;
      box-shadow: -2px -1px 4px 0px #e0e0e0;
      p{
        line-height: .8rem;
      }
      .themeImg{
        width: 13.622rem;
      }
    }
  }
}
/* theme cont */
.themeFt{
  margin-top: 1.111rem;
  padding-bottom:2.8rem ;
  .themebd{
    background: #fff;
    width: 2.6222rem;
    margin: 0 auto;
    height: 2.6222rem;
    text-align: center;
    line-height: 2.6222rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 4rem;
    border-radius: 10rem;
    display: block;
    position: relative;
    .now{
      color: #e14041;
      position:relative;
      top: -.55rem;
      left: 0rem;
      font-size: 0.888rem;
    }
    em{
      font-size:1.5333rem;
      width: 1px;
      color: #d2d2d2;
      top: -.3rem;
      left: 1.1rem;
      position: absolute;
      transform:rotate(27deg);
      -o-transform:rotate(27deg);
      -ms-transform:rotate(27deg); 	/* IE 9 */
      -moz-transform:rotate(27deg); 	/* Firefox */
      -webkit-transform:rotate(27deg); /* Safari 和 Chrome */
    }
    .sum{
      color: #ccc;
      position:relative;
      right: -.1rem;
      top: .4rem;
    }
  }
}
/* end 商品的主题 theme */

/* cart 购物车CSS */
.myCart{
  .myCartBd{
    ul{
      .activeli{
        background: url("../css/img/dagou.png") no-repeat #fff 0.666rem 2.2666rem !important;
        -webkit-background-size: 0.9111rem !important;
        background-size: 0.9111rem !important;
      }

      .list{
        overflow: hidden;
        padding-top: 0.711rem;
        padding-bottom: 0.711rem;
        background: #fff;
        background: url("../css/img/nogou.png") no-repeat #fff 0.666rem 2.2666rem;
        -webkit-background-size: 0.9111rem;
        background-size: 0.9111rem;
        .listL{
          width: 4.0555rem;
          margin-left: 1.5777rem;
          .Pimg{
            width: 3.8444rem;
            height: 3.8444rem;
          }
          .reduce img{
            width: 0.8444rem;
            vertical-align: middle;
          }
          .add img{
            width: 0.8444rem;
            vertical-align: middle;
          }
          .number{
            border-radius: 0;
            width: 1.633rem;
            height: 1.066rem;
            text-align: center;
          }
        }



        /* 右边 */
        .listR{
          width:8.466rem;
          p{
            line-height:0.55rem
          }
          .price{
            font-size: 0.9555rem;
            width: 100%;
            position: relative;
          }
          .sum{
            display: block;
            float: right;
            margin-top: .35rem;
          }

        .listRft{
          span{
            width: 4.1rem;
            height: 1.2rem;
            display: block;
            float: left;
            text-align: center;
            line-height:1.2rem;
            color: #333;
            font-size: 0.4888rem;
          }
          .delete{
            border-right: none;
          }
          .active{
            background: #e24d4d;
            border: #e24d4d 1px solid!important;
            color: #fff!important;
          }
        }

        }
      }
    }
  }

  /* myCart ft*/
  .myCartft{
    background: #fff;
    .price{
      font-size: 1.111rem;
    }
    .hd{
      margin-top: 0.71rem;
      margin-left: 0.666rem;
    }
    .Clearing{
      width: 4rem;
      height: 2.222rem;
      font-size: 0.8rem;
      color: #fff;
      text-align: center;
      line-height:2.222rem;
      background: #e04040;
    }
    .pricr{
      width: 6.555rem;
    }
    .sum{
      position: relative;
      right:.5rem;
    }
  }
}
/* end cart 购物车CSS */
/* Order */
.myOrder{
  /* bottom submit */
  .submitOrder{
    margin-top: 1.1rem;
    a{
      padding: .44rem 0;
      font-size:0.8rem;
    }
  }
  .sum-owing{
    margin-top: .0rem;
  }
  .sumOwing{
    div{
      line-height: 1.1rem;
    }
    margin-top: .8rem;
  }
  .OrderInfo{

    .title{
      height: 1.666rem;
      line-height:1.666rem;
      color: #aaa;
      border-bottom: 1px solid #ededed;
    }
    .cont{

      color: #333;
      padding-top: .8rem;
      padding-bottom: .8rem;
      position: relative;
      background: url("../css/img/ago.png") no-repeat 95% center;
      -webkit-background-size:0.8666rem;
      background-size:0.8666rem;
      .phone{
        padding-left: 1rem;
      }
      .p1{
        padding-top: 0rem;
      }
      .ml18{
        margin-left: 0.444rem;
      }
      .time{
        width: 8.266rem;
        p{
          line-height: .5rem;
        }
      }
    }
    li{
      background: #fff
    }
  }
}

/* address */
.myAddress{

  .add-address{
    height: 2.1777rem;
    text-align: center;
    background: #f9f9f9;
    color: #555;
    font-size: 0.8rem;line-height:2.1777rem ;
    margin: 0.666rem 0.444rem 0.444rem 0.444rem;
  }
  .add-address:active{
    background: #efefef;
   }
  .addressCont{

  }
  .active{
      .listR{
        background: url("../css/img/address-active.png") no-repeat center 0.888rem !important;
        -webkit-background-size: 1.311rem !important;
        background-size: 1.311rem !important;
        color:#e04040!important;
      }
  }

  .listHd{
    height: 3.555rem;
    .ListLeft{
      width: 12rem;
      p{
        font-size: 0.6222rem;
        color: #333;
      }
      .p1{
        margin-top: 0.68rem;
      }
    }
    .listR{
      display: block;
      width: 2.377rem;
      height: 3.555rem;
      font-size: 0.5333rem;
      line-height: 5rem;
      padding-left: .4rem;
      text-align:center;
      color: #7d7d7d;
      background: url("../css/img/address.png") no-repeat center 0.888rem;
      -webkit-background-size: 1.311rem;
      background-size: 1.311rem;
    }
  }

  .listFt{
    height: 1.5111rem;
    display: -webkit-box;
    a{
      width: 50%;
      text-align: center;
      display: block;
      height: 1.5111rem;
      line-height: 1.5111rem;
    }
  }

  .list{
    background: #fff;
    margin-top: 0.222rem;
  }
}

/* myModify */
.ModifyAddress{
  .submitModify a{
    padding: .44rem 0;
    font-size: 0.8rem;
    margin-top: 0.888rem;
  }
  .ModifyCont{

    background: #fff;
    .hd{
      float: left;
      width: 3.4888rem;
      display: block;
      color: #aaa;
    }
    li{
      overflow: hidden;
      padding: 0 0.6666rem;
      border-bottom: 1px solid #e7e7e7;
      height: 2.1555rem;
      line-height: 2.1555rem;
      .Cont{
        margin-left: 1.466rem;
        input{
          border: none;
          height: 1.188rem;
          width: 9.222rem;
          margin-top: .5rem;
          font-size:0.666rem;
        }
      }
    }

  }

}

/* Pay method */

.method{
  /* bottom submit */
  .submitOrder{
    margin-top: 1.1rem;
    a{
      padding: .44rem 0;
      font-size:0.8rem;
    }
  }

  .methodInfo{
    background: #fff;
    .title{
      height: 1.666rem;
      line-height:1.666rem;
      color: #aaa;

    }
    .active{
      background: url("../css/img/dagou.png") no-repeat 0.666rem center!important;
      -webkit-background-size: 0.9111rem !important;
    }
    li{
      border-top: 1px solid #ededed;
      background: #fff;
      height: 2.1777rem;
      padding-left: 2.2222rem;
      line-height: 2.1777rem;
      background: url("../css/img/nogou.png") no-repeat 0.666rem center;
      -webkit-background-size: 0.9111rem;
      background-size: 0.9111rem;
      font-size: 0.666rem;color: #333;
    }
  }
}

/* AccomplishCont */